.project {
  background-color: var(--container-color);
  display: flex;
  padding: clamp(5px, 10vw, 40px);
  width: 500px;
  border-radius: 8px;
  flex-wrap: wrap;
  gap: 20px;
}

.project * {
  flex-basis: 100%;
}

.project h1 {
  font-family: 'Dosis', sans-serif;
  font-size: clamp(5px, 7vw, 33px);
  font-weight: normal;
}

.project p {
  font-family: 'Roboto', cursive;
  font-size: clamp(3px, 5vw, 20px);
}

.project a {
  text-align: right;
  font-family: 'Roboto', cursive;
  font-size: clamp(3px, 5vw, 20px);
  margin-left: auto;
  flex-basis: auto;
  align-self: flex-end;
}

